* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.outer-block {
	/* margin: 0 auto; */
	width: 50vw; /* =50% viewport width */
	height: 50vmin; /* vmin, vmax */
	border: 5px solid red;
}

.inner-block {
	padding: 20px;
	border: 5px solid blue;
	height: 100px;
}

.flex-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: flex-end;
}
